# Initial Data Exploration

This notebook explores the provided data sets.

In [2]:
from pathlib import Path

from matplotlib import pyplot as plt
import pandas as pd
import plotly

## 0. Understanding the provided files

In [37]:
DATA_DIR = Path.cwd().parent / 'data'
DATA_FILEPATHS = list(DATA_DIR.glob('*'))

print(DATA_FILEPATHS)

[PosixPath('/Users/gurpreetjohl/workspace/python/growingeconomy/data/lfs_quarterly_variables.csv'), PosixPath('/Users/gurpreetjohl/workspace/python/growingeconomy/data/lfs_monthly_variables.csv'), PosixPath('/Users/gurpreetjohl/workspace/python/growingeconomy/data/qual_survey_responses.csv'), PosixPath('/Users/gurpreetjohl/workspace/python/growingeconomy/data/variable_names.csv')]

## 1. LFS

In [21]:
str(DATA_FILEPATHS[1])

'/Users/gurpreetjohl/workspace/python/growingeconomy/data/lfs_monthly_variables.csv'

In [20]:
df = pd.read_csv(str(DATA_FILEPATHS[0]),
                 header=[0,1,2,3],
                 encoding="ISO-8859-1")
df

,Title,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay,Employment rate Canada (OECD) seasonally adjusted,Employment Rate Japan (OECD) seasonally adjusted,Employment Rate United States (OECD) seasonally adjusted,...,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Luxembourg - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Netherlands - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Austria - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Portugal - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Finland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD
,CDID,A2F9,A2FA,A2FC,A3WV,A3WW,A3WX,A48O,A48P,A48Q,...,ZXDQ,ZXDR,ZXDS,ZXDT,ZXDU,ZXDV,ZXDW,ZXDX,ZXDY,ZXDZ
,PreUnit,Unnamed: 1_level_2,Unnamed: 2_level_2,£,Unnamed: 4_level_2,Unnamed: 5_level_2,£,Unnamed: 7_level_2,Unnamed: 8_level_2,Unnamed: 9_level_2,...,Unnamed: 1821_level_2,Unnamed: 1822_level_2,Unnamed: 1823_level_2,Unnamed: 1824_level_2,Unnamed: 1825_level_2,Unnamed: 1826_level_2,Unnamed: 1827_level_2,Unnamed: 1828_level_2,Unnamed: 1829_level_2,Unnamed: 1830_level_2
,Unit,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3,Unnamed: 6_level_3,Unnamed: 7_level_3,Unnamed: 8_level_3,Unnamed: 9_level_3,...,Unnamed: 1821_level_3,Unnamed: 1822_level_3,Unnamed: 1823_level_3,Unnamed: 1824_level_3,Unnamed: 1825_level_3,Unnamed: 1826_level_3,Unnamed: 1827_level_3,Unnamed: 1828_level_3,Unnamed: 1829_level_3,Unnamed: 1830_level_3
0,1994 Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.3,71.6,...,3.2,6.8,NaN,7.3,17.0,9.7,9.8,6.6,2.9,11.0
1,1994 Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.5,71.8,...,3.3,7.0,NaN,7.6,17.1,9.4,9.5,6.2,2.8,10.6
2,1994 Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.3,72.0,...,3.1,7.3,NaN,7.7,16.5,9.2,9.2,6.0,3.0,10.1
3,1994 Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.2,72.6,...,3.0,7.7,NaN,7.8,15.7,9.0,8.8,5.6,2.9,9.8
4,1995 Q1,NaN,NaN,NaN,NaN,NaN,NaN,67.7,69.3,72.7,...,2.9,8.1,3.9,8.0,15.1,8.8,8.7,5.5,3.0,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2023 Q1,NaN,NaN,473.0,NaN,NaN,507.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2023 Q2,NaN,NaN,476.0,NaN,NaN,515.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,2023 Q3,NaN,NaN,480.0,NaN,NaN,515.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,2023 Q4,NaN,NaN,480.0,NaN,NaN,513.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,2024 Q1,NaN,NaN,482.0,NaN,NaN,516.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
var_df = pd.read_csv(str(DATA_FILEPATHS[3]),
                #  header=[0,1,2,3],
                 encoding="ISO-8859-1")
var_df

                                                  Title
0     AWE: Whole Economy Real Terms Year on Year Sin...
1     AWE: Whole Economy Real Terms Year on Year thr...
2     AWE: Whole Economy Real Terms Level (£): Seaso...
3     AWE: Whole Economy Real Terms Year on Year Sin...
4     AWE: Whole Economy Real Terms Year on Year Thr...
...                                                 ...
1825  STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY...
1826  STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY...
1827  STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY...
1828  STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY...
1829  STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY...

[1830 rows x 1 columns]

In [27]:
var_df['Title'].values

array(['AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay',
       'AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay',
       'AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay',
       ...,
       'STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States',
       'STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat',
       'STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD'],
      dtype=object)

In [32]:
var_df['Title'].str[:30].value_counts()

Title
LFS: Economic inactivity rate:    67
LFS: Usual weekly hrs of work:    56
LFS: Economic Inactivity: UK:     36
LFS: Unemployed over 12 months    35
LFS: Usual weekly hours of wor    34
                                  ..
Employment rate 65 + People: %     1
Employment rate 65 + Women: %      1
Discouraged workers level peop     1
Inactive does not want a job p     1
UK Workforce Jobs SA : T Peopl     1
Name: count, Length: 469, dtype: int64

## 2. Survey responses

Independent survey responses
from 100 participants across
the UK to the question “what
do you think the government
should be doing to address
economic inactivity
(unemployment)”.

Single response survey
collected 15 July 2024.

In [33]:
str(DATA_FILEPATHS[2])

'/Users/gurpreetjohl/workspace/python/growingeconomy/data/qual_survey_responses.csv'

In [34]:
survey_df = pd.read_csv(str(DATA_FILEPATHS[2]))
survey_df

,Participant ID,Employment Status,UK Region,Response
0,P001,Unemployed,Scotland,The government should focus on providing more ...
1,P002,Employed,North West,I believe the government should create more in...
2,P003,Self-employed,London,The government needs to address the root cause...
3,P004,Unemployed,Wales,The government should increase unemployment be...
4,P005,Employed,South East,I think the government is already doing too mu...
...,...,...,...,...
105,P106,Employed,East of England,I think the government should focus on promoti...
106,P107,Unemployed,West Midlands,The government needs to improve support for pe...
107,P108,Self-employed,North East,The government should focus on supporting the ...
108,P109,Unemployed,Scotland,The government should provide more support for...
109,P110,Employed,London,I believe the government should implement stri...

In [36]:
survey_df['Response']

0      The government should focus on providing more ...
1      I believe the government should create more in...
2      The government needs to address the root cause...
3      The government should increase unemployment be...
4      I think the government is already doing too mu...
                             ...
105    I think the government should focus on promoti...
106    The government needs to improve support for pe...
107    The government should focus on supporting the ...
108    The government should provide more support for...
109    I believe the government should implement stri...
Name: Response, Length: 110, dtype: object